html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #ffffff;
}

.centered-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(249, 248, 248, 0.1);
  width: 300px;
  text-align: center;
}

select, input[type="text"] {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #22cc3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1aa02c;
}